body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 45px;
    color: gray;
    line-height: 0.6;
}
h2{
    font-size: 30px;
    color: gray;
    margin-top: 100px;
}
.orange-color{
    color: orange;
}
.section-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}
.half-breadth{
    width: 50%;
    padding-left: 5%;
}
.half-breadth img{
    width: 80%;
   
}
#space-fixer{
    margin-top: 100px;
}
#gray-color{
    color: gray;
    margin-bottom: 50px;
}
.request-button{
    text-decoration: none;
    background-image: linear-gradient(to right, orange , tomato);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    
   
}
#about-me-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#second-image{
    width: 50%;
    height: 90%;
    margin-top: 50px;
    margin-left: 80px;
}
#contact-me-spacing{
    margin-bottom: 100px;
}